---
import { CardGrid, LinkCard } from "@astrojs/starlight/components";
---

<h2>Quick Links</h2>
<CardGrid>
  <LinkCard
    title="Resident Portal"
    description="Access the resident portal."
    href="https://fallscreekranch.managebuilding.com/"
  />
  <LinkCard
    title="Calendar"
    description="View the community calendar."
    href="/residents/calendar/"
  />
  <LinkCard
    title="Agenda & Minutes"
    description="Read the latest agenda and minutes."
    href="https://docs.google.com/document/d/1ZAeiRZjMnXnJWPLO63gaC60nyIZTdMnuAZtj1J3lgS8/edit?usp=sharing"
  />
  <LinkCard
    title="Contact Us"
    description="Get in touch with the board."
    href="/contact-us/"
  />
</CardGrid>